body {
  margin: 0;
  padding: 0;
  font-family: helvetica; }

.app-header {
  height: 60px;
  background-color: black;
  width: 100%; }

.app-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 1000px;
  height: 100%; }
  .app-wrapper .app-nav {
    width: 100px;
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    .app-wrapper .app-nav .nav-item {
      height: 60px;
      background-color: purple;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .app-wrapper .app-nav .nav-item.active-nav {
        background-color: coral; }
      .app-wrapper .app-nav .nav-item:hover {
        background-color: crimson; }
  .app-wrapper .main-content {
    flex: 1;
    background-color: cornsilk; }
    .app-wrapper .main-content .screen {
      margin: 10px; }
